body {
    /* Requirement-2.1 */
    margin: 0;
    font-family: sans-serif;
    color: white;
    background: rgb(20, 20, 20);
}

div.banner {
    width: 100%;
    background-color: rgb(144, 90, 245);
}

div.banner h1 {
    /* Requirement-2.6 */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1%;
    padding: 10px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(108, 64, 189);
}

nav ul {
    margin: 0;
}

nav ul li {
    display: block;
    float: left;
    list-style-type: none;
    border-left: 1px solid rgb(78, 47, 139);
}

nav ul li:last-child {
    border-right: 1px solid rgb(78, 47, 139);
}

.navButton {
    display: block;
    text-decoration: none;
    color: rgb(245, 245, 245);
    background-color: rgb(108, 64, 189);
    font-weight: 650;
    padding: 0.7em 2em;
}

.navButton:hover {
    background-color: rgb(87, 51, 155);
    
}