body {
    /* background: url("cow.jpeg") no-repeat center center fixed; */
    background-size: cover;
}
p {
    font-size: 20px;
    font-weight: bold;
    color: green
}

div {
    width: 100px;
    height: 100px;
    background: red;
    margin-top: 10px;
}

.blue {
    background: blue;
}

.fence {
    border: 2px dashed hotpink;
}

span.strike {
    text-decoration: line-through;
}

div.puppies img, .special img{
    height: 400px;
    border-radius: 50%;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50px;
    border-spacing: 30px;
}

table tr th, table tr td {
    color: rgb(127, 195, 24);
    padding: 10px;
}

.poem {
    color: red;
}

.poem .upper {
    text-transform: uppercase;
}

.poem .lonely {
    text-shadow: 2px 3px rgb(58, 6, 40);
}

.poem::first-letter {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
}

a:link {color: yellow;}

a:visited {color: red;}

a:hover {color: white;}

a:active {color: pink;}